.karusell-div {
  height: auto;
  max-width: 50%;
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  position: relative;
}
.karusell-div p {
  margin-bottom: 0;
}

.title-author {
  height: 5em;
}
.title-author p {
  line-height: 1em;
  padding: 0px;
  margin: 5px;
}

.author {
  font-size: small;
  font-weight: normal;
}

.button-right,
.button-left {
  position: absolute;
  border: none;
  display: flex;
  text-align: center;
  width: 5%;
  vertical-align: middle;
  border-radius: 50%;
  z-index: 1000;
  top: 40%;
  background-color: rgba(255, 255, 255, 0.616);
}

.button-right {
  margin-right: 5px;
  right: 0px;
}

.button-left {
  left: 0px;
  margin-left: 5px;
}
